.forecast-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-summary * {
  font-family: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
}

.forcast-summary__button {
  border: none;
  background-color: #d6d8d8;
  text-decoration: underline;
}
